<div class="container text-center mt-5 mb-5">
    <p>{{wordToGuess.pl}}</p>
    <input type="text" [(ngModel)]="enteredWord">
    <button (click)="checkWord()">Check</button>
    <div class="mt-3">
        <p>{{percentage}}%</p>
    </div>
</div>
<button (click)="test()">TEST</button>
<div class="container">
    <h1 class="text-center">All Words ({{words.length}})</h1>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>pl</th>
                <th>eng</th>
                <th>engUsage</th>
                <th>type</th>
                <th>diff</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let word of words; let i = index">
                <th>{{i + 1}}.</th>
                <td>{{word.pl}}</td>
                <td>{{word.eng}}</td>
                <td>{{word.engUsage}}</td>
                <td>{{word.type}}</td>
                <td>{{word.difficulty}}</td>
            </tr>
        </tbody>
    </table>
</div>