.word {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Courier, monospace, Helvetica, sans-serif;
    font-size: x-large;
}

.hint {
    color: grey;
    font-style: italic;
}

.hiddenWord {
    font-size: xx-large;
    /* font-weight: bold; */
}

.correct {
    background-color: lightgreen;
    animation: flash1 0.1s;
}

@keyframes flash1 {
    from {
        background-color: transparent;
    }
    to {
        background-color: lightgreen;
    }
}

.incorrect {
    background-color: lightcoral;
    animation: flash2 0.1s;
}

@keyframes flash2 {
    from {
        background-color: transparent;
    }
    to {
        background-color: lightcoral;
    }
}

