<div class="container text-center mt-5 mb-5" *ngIf="isPlaying">
    <p class="word">{{wordToGuess.pl}}</p>
    <p class="hiddenWord" *ngIf="!wrong">{{showWordWithSpaces(wordHidden)}}</p>
    <p class="hiddenWord" *ngIf="wrong">{{showWordWithSpaces(wordToGuess.eng)}}</p>
    <div class="form-group col-2 mx-auto">
        <input class="form-control" type="text" #inputField [(ngModel)]="enteredWord" (keyup.enter)="checkWord()"
            (keyup.esc)="endGame()" (keyup.control)="giveHint()">
    </div>
    <div class="mt-3">
        <p>{{percentage}}%</p>
    </div>
    <div class="progress">
        <div class="progress-bar" role="progressbar" [style.--percentage]="percentage + '%'"></div>
    </div>
</div>
<div class="container text-center mt-5 mb-5" *ngIf="!isPlaying">
    <div class="mt-3">
        <p>Your score is {{percentage}}%</p>
    </div>
</div>